<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dainik 71 ar Bangladesh</title>
    {% load static %}
    {% include 'root/css.html' %}
    <style>
        .main-section {
            background-color: var(--admin-background) !important;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0">
    {% include 'client/res/nav.html' %}
    <div class="main-section">
        <div class="row d-flex justify-content-center pt-3 pb-4">
            {#Lest Side#}
            <div class="col-md-5">
                <div class="img-container">
                    <img class="img-fluid" src="{% static 'images/katrina.png' %}" style="min-width: 100%">
                    <p class="carousel-caption m-0 slider-caption">বিমানবন্দরে নামতেই সেলফি
                        বিড়ম্বনায়
                        ক্যাটরিনা</p>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                </div>
                {#Loop area#}
                <div class="row d-flex justify-content-evenly mt-3 mb-4">
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-evenly mt-3 mb-4">
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#Lest Side end#}
            {#Right Side#}
            <div class="col-md-4">
                {#Last News#}
                <p class="last-news">সর্বশেষ খবর</p>
                <div style="height: 50rem;overflow: auto;margin-top: 1rem">
                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>
                </div>
                <p class="last-news mt-5">সর্বাধিক পঠিত</p>
                <div style="height: 50rem;overflow: auto;margin-top: 1rem">
                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>
                </div>
            </div>
            {#Right Side end#}
        </div>
    </div>
    {% include 'client/res/footer.html' %}
</div>
{% include 'root/js.html' %}
</body>
</html>