<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dainik 71 ar Bangladesh</title>
    {% load static %}
    {% include 'root/css.html' %}
    <style>
        .main-section {
            background-color: var(--admin-background) !important;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0">
    {% include 'client/res/nav.html' %}
    <div class="main-section">
        <div class="row d-flex justify-content-center pt-3 pb-4">
            {#Lest Side#}
            <div class="col-md-5">
                <div class="img-container">
                    <img class="img-fluid" src="{% static 'images/katrina.png' %}" style="min-width: 100%">
                    <p class="carousel-caption m-0 slider-caption">বিমানবন্দরে নামতেই সেলফি
                        বিড়ম্বনায়
                        ক্যাটরিনা</p>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="row d-flex justify-content-evenly mb-3 my-row"
                             style="background: var(--card-primary-bg);">
                            <div class="col-8" style="padding:1.5rem">
                                <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4 p-0">
                                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                </div>
                {#Loop area#}
                <div class="row d-flex justify-content-evenly mt-3 mb-4">
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-evenly mt-3 mb-4">
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card" style="background: var(--card-primary-bg)">
                            <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="/news-details/" style="cursor: pointer;"><h5
                                        class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার
                                    ভিড়</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#Lest Side end#}
            {#Right Side#}
            <div class="col-md-4">
                {#Last News#}
                <p class="last-news">সর্বশেষ খবর</p>
                <div style="height: 50rem;overflow: auto;margin-top: 1rem">
                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>
                </div>
                <p class="last-news mt-5">সর্বাধিক পঠিত</p>
                <div style="height: 50rem;overflow: auto;margin-top: 1rem">
                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>

                    <div class="row d-flex justify-content-evenly mb-3 my-row"
                         style="background: var(--card-secondary-bg);">
                        <div class="col-8" style="padding:1.5rem">
                            <p class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            <p>Posted : <span>9 min ago</span></p>
                        </div>
                        <div class="col-4 p-0">
                            <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
                        </div>
                    </div>
                </div>
            </div>
            {#Right Side end#}
        </div>
    </div>
    {% include 'client/res/footer.html' %}
</div>
{% include 'root/js.html' %}
<script>
    function toggleLanguage_client() {
        let toggleInput = document.querySelector(".toggle-input");
        let cat_today_headline = document.getElementById("cat_today_headline");
        let cat_other = document.getElementById("cat_other");
        let cat_sports = document.getElementById("cat_sports");
        let cat_showbiz = document.getElementById("cat_showbiz");
        let cat_world = document.getElementById("cat_world");
        let cat_country = document.getElementById("cat_country");
        let cat_national = document.getElementById("cat_national");

        let top_rolling_headline_bangla = document.querySelectorAll(".top_rolling_headline_bangla");
        let top_rolling_headline_english = document.querySelectorAll(".top_rolling_headline_english");

        let focus_headline_bengali_title = document.querySelectorAll(".focus_headline_bengali_title");
        let focus_headline_english_title = document.querySelectorAll(".focus_headline_english_title");

        let footer_home_icon = document.getElementById("footer_home_icon");
        let footer_headline_icon = document.getElementById("footer_headline_icon");
        let footer_sports_icon = document.getElementById("footer_sports_icon");
        let footer_country_icon = document.getElementById("footer_country_icon");
        let footer_world_icon = document.getElementById("footer_world_icon");
        let footer_showbiz_icon = document.getElementById("footer_showbiz_icon");
        let footer_editor_icon = document.getElementById("footer_editor_icon");

        if (toggleInput.checked) {
            cat_other.style.display = "block"
            cat_national.innerHTML = "জাতীয়";
            cat_country.innerHTML = "দেশগ্রাম";
            cat_world.innerHTML = "পূর্ব-পশ্চিম";
            cat_showbiz.innerHTML = "শোবিজ";
            cat_today_headline.innerHTML = "আজকের শিরোনাম";
            cat_sports.innerHTML = "মাঠে ময়দানে";

            top_rolling_headline_english.forEach(element => {
                element.style.display = "none";
            });
            top_rolling_headline_bangla.forEach(element => {
                element.style.display = "block";
            });

            focus_headline_english_title.forEach(element => {
                element.style.display = "none";
            });
            focus_headline_bengali_title.forEach(element => {
                element.style.display = "flex";
            });

            footer_home_icon.innerHTML = "হোম";
            footer_headline_icon.innerHTML = "আজকের শিরোনাম";
            footer_sports_icon.innerHTML = "মাঠে ময়দানে";
            footer_country_icon.innerHTML = "দেশগ্রাম";
            footer_world_icon.innerHTML = "পূর্ব-পশ্চিম";
            footer_showbiz_icon.innerHTML = "শোবিজ";
            footer_editor_icon.innerHTML = "সম্পাদকের নাম : আ ন ম ছিদ্দিক";
        } else {
            cat_other.style.display = "none"
            cat_national.innerHTML = "National";
            cat_country.innerHTML = "Country";
            cat_world.innerHTML = "World";
            cat_showbiz.innerHTML = "Showbiz";
            cat_today_headline.innerHTML = "Today's Headline";
            cat_sports.innerHTML = "Sports";

            top_rolling_headline_bangla.forEach(element => {
                element.style.display = "none";
            });
            top_rolling_headline_english.forEach(element => {
                element.style.display = "block";
            });

            focus_headline_bengali_title.forEach(element => {
                element.style.display = "none";
            });
            focus_headline_english_title.forEach(element => {
                element.style.display = "flex";
            });

            footer_home_icon.innerHTML = "Home";
            footer_headline_icon.innerHTML = "Today's Headline";
            footer_sports_icon.innerHTML = "Sports";
            footer_country_icon.innerHTML = "Country";
            footer_world_icon.innerHTML = "World";
            footer_showbiz_icon.innerHTML = "Showbiz";
            footer_editor_icon.innerHTML = "Editor's Name: A N M Siddique";
        }
    }
</script>
</body>
</html>