<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dainik 71 ar Bangladesh</title>
    {% load static %}
    {% include 'root/css.html' %}
    <style>
        .main-section {
            background-color: var(--admin-background) !important;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0">
    {% include 'client/res/nav.html' %}
    <div class="main-section">
        {% include 'client/landing_section/section_1.html' %}
        {% include 'client/landing_section/section_2.html' %}
        {% include 'client/landing_section/section_3.html' %}
        {% include 'client/landing_section/section_4.html' %}
        {% include 'client/landing_section/section_5.html' %}
        {% include 'client/landing_section/section_6.html' %}
        {% include 'client/landing_section/section_7.html' %}
    </div>
    {% include 'client/res/footer.html' %}
</div>
{% include 'root/js.html' %}
<script>
    function toggleLanguage_client() {
        let toggleInput = document.querySelector(".toggle-input");
        let cat_today_headline = document.getElementById("cat_today_headline");
        let cat_other = document.getElementById("cat_other");
        let cat_sports = document.getElementById("cat_sports");
        let cat_showbiz = document.getElementById("cat_showbiz");
        let cat_world = document.getElementById("cat_world");
        let cat_country = document.getElementById("cat_country");
        let cat_national = document.getElementById("cat_national");

        let top_rolling_headline_bangla = document.querySelectorAll(".top_rolling_headline_bangla");
        let top_rolling_headline_english = document.querySelectorAll(".top_rolling_headline_english");

        let latest_news_title_bengali = document.querySelectorAll(".latest_news_title_bengali");
        let latest_news_title_english = document.querySelectorAll(".latest_news_title_english");

        let focus_headline_bengali_title = document.querySelectorAll(".focus_headline_bengali_title");
        let focus_headline_english_title = document.querySelectorAll(".focus_headline_english_title");

        let focus_headline_bengali_title_m = document.querySelector(".focus_headline_bengali_title_m");

        let highlights_section_title = document.getElementById("highlights_section_title");
        let latest_news_title = document.getElementById("latest_news_title");
        let national_headline_title = document.getElementById("national_headline_title");
        let max_view_title = document.getElementById("max_view_title");

        if (toggleInput.checked) {
            cat_other.style.display = "block"
            cat_national.innerHTML = "জাতীয়";
            cat_country.innerHTML = "দেশগ্রাম";
            cat_world.innerHTML = "পূর্ব-পশ্চিম";
            cat_showbiz.innerHTML = "শোবিজ";
            cat_today_headline.innerHTML = "আজকের শিরোনাম";
            cat_sports.innerHTML = "মাঠে ময়দানে";

            top_rolling_headline_english.forEach(element => {
                element.style.display = "none";
            });
            top_rolling_headline_bangla.forEach(element => {
                element.style.display = "block";
            });

            focus_headline_english_title.forEach(element => {
                element.style.display = "none";
            });
            focus_headline_bengali_title.forEach(element => {
                element.style.display = "flex";
            });

            latest_news_title_english.forEach(element => {
                element.style.display = "none";
            });
            latest_news_title_bengali.forEach(element => {
                element.style.display = "block";
            });

            latest_news_title.innerHTML = "সর্বশেষ খবর";

            highlights_section_title.innerHTML = "হাইলাইটস";
            focus_headline_bengali_title_m.innerHTML = "ফোকাস";
            national_headline_title.innerHTML = "জাতীয়";
            max_view_title.innerHTML = "সর্বাধিক পঠিত";

        } else {
            cat_other.style.display = "none"
            cat_national.innerHTML = "National";
            cat_country.innerHTML = "Country";
            cat_world.innerHTML = "World";
            cat_showbiz.innerHTML = "Showbiz";
            cat_today_headline.innerHTML = "Today's Headline";
            cat_sports.innerHTML = "Sports";

            top_rolling_headline_bangla.forEach(element => {
                element.style.display = "none";
            });
            top_rolling_headline_english.forEach(element => {
                element.style.display = "block";
            });

            focus_headline_bengali_title.forEach(element => {
                element.style.display = "none";
            });
            focus_headline_english_title.forEach(element => {
                element.style.display = "flex";
            });

            latest_news_title_english.forEach(element => {
                element.style.display = "block";
            });
            latest_news_title_bengali.forEach(element => {
                element.style.display = "none";
            });

            latest_news_title.innerHTML = "Latest News";
            focus_headline_bengali_title_m.innerHTML = "Focus News";
            highlights_section_title.innerHTML = "Highlights";
            national_headline_title.innerHTML = "National";
            max_view_title.innerHTML = "Most Read";
        }
    }
</script>
</body>
</html>