<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>আজকের শিরোনাম||Dainik 71 er Bangladesh</title>
    {% load static %}
    {% include 'root/css.html' %}
    <style>
        .main-section {
            background-color: var(--admin-background) !important;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0">
    {% include 'client/res/nav.html' %}
    <div class="main-section pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <p class="last-news" style="padding: 1rem 1rem 0.7rem 4rem;" id="today_headline_title">আজকের
                    শিরোনাম</p>
                {% for data in today_all_headline %}
                    <div class="row mt-3 my-row"
                         style="background: var(--card-primary-bg);">
                        <div class="col-11" style="padding: 1rem 1rem 0.5rem 1rem">
                            <a href="/details-news/{{ data.id }}/{{ data.english_category.the_category }}/">
                                <p class="card-headline align-items-center focus_headline_bengali_title"
                                   style="display: flex">
                                    <img src="{% static 'logo/Polygon 1.svg' %}"
                                         style="margin-right: 0.5rem;">{{ data.bangla_title }}</p>
                                <p class="card-headline align-items-center focus_headline_english_title"
                                   style="display: none">
                                    <img src="{% static 'logo/Polygon 1.svg' %}"
                                         style="margin-right: 0.5rem;">{{ data.english_title }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'client/res/footer.html' %}
</div>
{% include 'root/js.html' %}
<script>
    function toggleLanguage_client() {
        let toggleInput = document.querySelector(".toggle-input");
        let cat_today_headline = document.getElementById("cat_today_headline");
        let cat_other = document.getElementById("cat_other");
        let cat_sports = document.getElementById("cat_sports");
        let cat_showbiz = document.getElementById("cat_showbiz");
        let cat_world = document.getElementById("cat_world");
        let cat_country = document.getElementById("cat_country");
        let cat_national = document.getElementById("cat_national");

        let top_rolling_headline_bangla = document.querySelectorAll(".top_rolling_headline_bangla");
        let top_rolling_headline_english = document.querySelectorAll(".top_rolling_headline_english");

        let focus_headline_bengali_title = document.querySelectorAll(".focus_headline_bengali_title");
        let focus_headline_english_title = document.querySelectorAll(".focus_headline_english_title");

        let today_headline_title = document.getElementById("today_headline_title");

        let footer_home_icon = document.getElementById("footer_home_icon");
        let footer_headline_icon = document.getElementById("footer_headline_icon");
        let footer_sports_icon = document.getElementById("footer_sports_icon");
        let footer_country_icon = document.getElementById("footer_country_icon");
        let footer_world_icon = document.getElementById("footer_world_icon");
        let footer_showbiz_icon = document.getElementById("footer_showbiz_icon");
        let footer_editor_icon = document.getElementById("footer_editor_icon");

        if (toggleInput.checked) {
            cat_other.innerHTML = "অন্যান্য";
            cat_national.innerHTML = "জাতীয়";
            cat_country.innerHTML = "দেশগ্রাম";
            cat_world.innerHTML = "পূর্ব-পশ্চিম";
            cat_showbiz.innerHTML = "শোবিজ";
            cat_today_headline.innerHTML = "আজকের শিরোনাম";
            cat_sports.innerHTML = "মাঠে ময়দানে";

            top_rolling_headline_english.forEach(element => {
                element.style.display = "none";
            });
            top_rolling_headline_bangla.forEach(element => {
                element.style.display = "block";
            });

            focus_headline_english_title.forEach(element => {
                element.style.display = "none";
            });
            focus_headline_bengali_title.forEach(element => {
                element.style.display = "flex";
            });

            today_headline_title.innerHTML = "আজকের শিরোনাম";

            footer_home_icon.innerHTML = "হোম";
            footer_headline_icon.innerHTML = "আজকের শিরোনাম";
            footer_sports_icon.innerHTML = "মাঠে ময়দানে";
            footer_country_icon.innerHTML = "দেশগ্রাম";
            footer_world_icon.innerHTML = "পূর্ব-পশ্চিম";
            footer_showbiz_icon.innerHTML = "শোবিজ";
            footer_editor_icon.innerHTML = "সম্পাদকের নাম : আ ন ম ছিদ্দিক";
        } else {
            cat_other.innerHTML = "Other";
            cat_national.innerHTML = "National";
            cat_country.innerHTML = "Country";
            cat_world.innerHTML = "World";
            cat_showbiz.innerHTML = "Showbiz";
            cat_today_headline.innerHTML = "Today's Headline";
            cat_sports.innerHTML = "Sports";

            top_rolling_headline_bangla.forEach(element => {
                element.style.display = "none";
            });
            top_rolling_headline_english.forEach(element => {
                element.style.display = "block";
            });

            focus_headline_bengali_title.forEach(element => {
                element.style.display = "none";
            });
            focus_headline_english_title.forEach(element => {
                element.style.display = "flex";
            });

            today_headline_title.innerHTML = "Today's Headline";

            footer_home_icon.innerHTML = "Home";
            footer_headline_icon.innerHTML = "Today's Headline";
            footer_sports_icon.innerHTML = "Sports";
            footer_country_icon.innerHTML = "Country";
            footer_world_icon.innerHTML = "World";
            footer_showbiz_icon.innerHTML = "Showbiz";
            footer_editor_icon.innerHTML = "Editor's Name: A N M Siddique";
        }
    }
</script>
</body>
</html>