<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moderator Dashboard</title>
    {% load static %}
    {% load mathfilters %}
    {% include 'root/css.html' %}
    <style>
        .form-control:focus {
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="container-fluid admin-background">
    {% include 'admin_nav.html' %}
    <div class="row d-flex justify-content-between">
        <div class="col-md-2" style="background: var(--white)">
            {% include 'sidebar/mod_sidebar.html' %}
        </div>
        <div class="col-md-10">
            <p class="headline text-center mt-2">All News</p>
            <div class="row d-flex justify-content-end">
                <div class="col-2">
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="dateInput">
                        <button class="btn news-primary-btn" style="width: unset;padding: 0.375rem 0.75rem">Apply
                        </button>
                    </div>
                </div>
            </div>
            {% for data in all_news_list %}
                {% if forloop.counter0|mod:4 == 0 %}
                    <div class="row d-flex justify-content-evenly mt-4 mb-4">
                {% endif %}
                <div class="col-md-2">
                    <div class="card" style="{% if forloop.counter0|mod:2 == 1 %}background:var(--card-primary-bg){% else %}background:var(--card-secondary-bg){% endif %}">
                        <img src="{% if data.image %}{{ data.image.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" class="card-img-top img-fluid" alt="..." style="height: 150px;">
                        <div class="card-body">
                            <a href="/news-details/{{ data.id }}/" style="cursor: pointer;"><h5 class="card-headline truncate">{{ data.bangla_title }}</h5></a>
                            <button class="btn p-0 float-end" data-bs-toggle="modal" data-bs-target="#delete_report_modal" onclick="document.getElementById('add_to_delete_anchor_id').href = '/delete-news-mod/{{ data.id }}/'">
                                <img src="{% static 'logo/delete.svg' %}"></button>
                            <button class="btn p-0 float-end" data-bs-toggle="modal" data-bs-target="#roll_headline_modal" onclick="document.getElementById('add_to_headline_anchor_id').href = '/add-to-something/{{ data.id }}/headline/'">
                                <img src="{% static 'logo/headline.svg' %}"></button>
                            <button class="btn p-0 float-end" data-bs-toggle="modal" data-bs-target="#trendy_report_modal" onclick="document.getElementById('add_to_trendy_anchor_id').href = '/add-to-something/{{ data.id }}/trending/'">
                                <img src="{% static 'logo/trendding.svg' %}"></button>
                        </div>
                    </div>
                </div>
                {% if forloop.counter0|mod:4 == 3 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include 'root/js.html' %}
{% include 'modal/add_to_trendy.html' %}
{% include 'modal/add_to_roll.html' %}
{% include 'modal/delete_report.html' %}
</body>
</html>