<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moderator Dashboard</title>
    {% load static %}
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid admin-background">
    {% include 'admin_nav.html' %}
    <div class="row d-flex justify-content-between">
        <div class="col-md-2" style="background: var(--white)">
            {% include 'sidebar/mod_sidebar.html' %}
        </div>
        <div class="col-md-10">
            <p class="headline text-center mt-2">Focus Headlines</p>
            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-primary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-secondary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-primary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-secondary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-primary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-secondary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-primary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-4">
                <div class="col-md-8">
                    <div class="card" style="background: var(--card-secondary-bg);padding: 1rem 1.5rem">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <p class="login-text m-auto">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                            </div>
                            <div class="col-4">
                                <button class="btn news-secondary-btn float-end">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'root/js.html' %}
</body>
</html>