<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moderator Dashboard</title>
    {% load static %}
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid admin-background">
    {% include 'admin_nav.html' %}
    <div class="row d-flex justify-content-between">
        <div class="col-md-2" style="background: var(--white)">
            {% include 'sidebar/mod_sidebar.html' %}
        </div>
        <div class="col-md-10">
            <div class="row d-flex justify-content-around align-items-center mt-3">
                <div class="offset-1 col-8">
                    <p class="report-headline" id="report_headline">{{ news_details.bangla_title }}</p>
                    <P><b>Reported by</b> : {{ news_details.reporter }}</P>
                </div>
                <div class="col-2">
                    <label class="toggle" onclick="toggleLanguage()">
                        <input class="toggle-input" type="checkbox" checked/>
                        <span class="toggle-label" data-off="Bengali" data-on="English"></span>
                        <span class="toggle-handle"></span>
                    </label>
                    <div class="mt-3">
                        <button class="btn news-tertiary-btn">Edit</button>
                        <button class="btn news-tertiary-btn">Approve</button>
                        <button class="btn news-tertiary-btn">Delete</button>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10 text-center">
                    <img class="img-fluid" src="
                            {% if news_details.image %}{{ news_details.image }}{% else %}{% static 'images/placeholder.png' %}{% endif %}">
                </div>
                <div class="col-10 mt-3">
                    <p style="text-align: justify;text-justify: inter-word;margin: 0 3rem"
                       id="report_content">{{ news_details.bangla_content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'root/js.html' %}
<script>
    function toggleLanguage() {
        let headline = document.getElementById("report_headline");
        let content = document.getElementById("report_content");
        let toggleInput = document.querySelector(".toggle-input");

        if (toggleInput.checked) {
            headline.innerHTML = "{{ news_details.bangla_title }}";
            content.innerHTML = "{{ news_details.bangla_content }}";
        } else {
            headline.innerHTML = "{{ news_details.english_title }}";
            content.innerHTML = "{{ news_details.english_content }}";
        }
    }
</script>
</body>
</html>