<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moderator Dashboard</title>
    {% load static %}
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid admin-background">
    {% include 'admin_nav.html' %}
    <div class="row d-flex justify-content-between">
        <div class="col-md-2" style="background: var(--white)">
            {% include 'sidebar/mod_sidebar.html' %}
        </div>
        <div class="col-md-10">
            <p class="headline text-center mt-2">Trending News</p>
            <div class="row d-flex justify-content-evenly mt-3 mb-4">
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-primary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-secondary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-primary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-secondary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly mt-4 mb-3">
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-primary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-secondary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-primary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="background: var(--card-secondary-bg)">
                        <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-headline">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5>
                            <button class="btn p-0 float-end" data-bs-toggle="modal"
                                    data-bs-target="#delete_report_modal"><img src="{% static 'logo/delete.svg' %}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'root/js.html' %}
{% include 'modal/delete_report.html' %}
</body>
</html>