<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moderator Dashboard</title>
    {% load static %}
    {% load mathfilters %}
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid admin-background">
    {% include 'admin_nav.html' %}
    <div class="row d-flex justify-content-between">
        <div class="col-md-2" style="background: var(--white)">
            {% include 'sidebar/admin_sidebar.html' %}
        </div>
        <div class="col-md-10">
            <p class="headline text-center mt-2">Moderators</p>
            {% for data in list_moderator %}
                <div class="row d-flex justify-content-center mt-3 mb-4">
                    <div class="col-md-5">
                        <div class="card" style="{% if forloop.counter0|mod:2 == 1 %}background:var(--card-primary-bg){% else %}background:var(--card-secondary-bg){% endif %};padding: 1rem 1.5rem">
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <p class="login-text m-auto">{{ data }}</p>
                                </div>
                                <div class="col-6">
                                    <button class="btn news-secondary-btn" data-bs-toggle="modal"
                                            data-bs-target="#moderator_suspend_modal">Suspend
                                    </button>
                                    <button class="btn news-secondary-btn" data-bs-toggle="modal"
                                            data-bs-target="#moderator_pass_modal" onclick="document.getElementById('user_name_field').value = '{{ data }}'">Change Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'root/js.html' %}
{% include 'modal/admin_m_suspend.html' %}
{% include 'modal/admin_m_pass.html' %}
</body>
</html>