{% load static %}
{% load mathfilters %}
{% for data_list in other_news_list %}
    {% if forloop.counter0|mod:3 == 0 %}
        <div class="row d-flex justify-content-evenly mt-3 pb-5">
    {% endif %}

        <div class="col-md-3">
            <div class="row d-flex align-items-center last-news mt-3 pt-0 pb-0 my-row"
                 style="padding-right: 0;cursor: pointer" onclick="location.href='category-news/{{ data_list.0.english_category.the_category }}/'">
                <div class="col-6 p-0 focus_headline_bengali_title" style="text-transform: capitalize;">{{ data_list.0.bangla_category.the_category }}</div>
                <div class="col-6 p-0 focus_headline_english_title" style="display: none;text-transform: capitalize;">{{ data_list.0.english_category.the_category }}</div>

                <div class="col-6 p-0"><a class="float-end"><img src="{% static 'logo/right_arrow.svg' %}"></a></div>
            </div>
            <div class="img-container mt-2" onclick="location.href='/details-news/{{ data_list.0.id }}/{{ data_list.0.english_category.the_category }}/'" style="cursor: pointer;">
                <img class="img-fluid" src="{{ data_list.0.image.url }}">
                <p class="carousel-caption m-0 card-headline focus_headline_bengali_title">{{ data_list.0.bangla_title }}</p>
                <p class="carousel-caption m-0 card-headline focus_headline_english_title" style="display: none">{{ data_list.0.english_title }}</p>
            </div>
            <div style="max-height: 25rem;overflow: auto">
                {#Loop area#}
                {% for data in data_list %}
                    {% if not forloop.first %}
                        <div class="row mt-3 my-row"
                             style="background: var(--card-primary-bg);cursor: pointer;" onclick="location.href='/details-news/{{ data.id }}/{{ data.english_category.the_category }}/'">
                            <div class="col-11" style="padding: 1rem 1rem 0.5rem 1rem">
                                <p class="card-headline align-items-center focus_headline_bengali_title" style="display: flex">
                                    <img src="{% static 'logo/Polygon 1.svg' %}" style="margin-right: 0.5rem">{{ data.bangla_title }}</p>
                                <p class="card-headline align-items-center focus_headline_english_title" style="display: none">
                                    <img src="{% static 'logo/Polygon 1.svg' %}" style="margin-right: 0.5rem">{{ data.english_title }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {#Loop area end#}
            </div>
        </div>

    {% if forloop.counter0|mod:3 == 2 or forloop.last %}
        </div>
    {% endif %}
{% endfor %}