{% load static %}
<div class="row d-flex justify-content-evenly mt-5 mb-5 background-showbiz">
    <p class="headline text-center mt-4" style="color: var(--white)">শোবিজ</p>
    <div class="col-md-2 d-flex align-items-center">
        <div>
            <div class="img-container mb-3">
                <img class="img-fluid" src="{% static 'images/katrina.png' %}">
                <p class="carousel-caption m-0 card-headline">বিমানবন্দরে নামতেই সেলফি বিড়ম্বনায় ক্যাটরিনা</p>
            </div>
            <div class="img-container mb-3">
                <img class="img-fluid" src="{% static 'images/katrina.png' %}">
                <p class="carousel-caption m-0 card-headline">বিমানবন্দরে নামতেই সেলফি বিড়ম্বনায় ক্যাটরিনা</p>
            </div>
        </div>
    </div>
    <div class="col-md-5 mb-3">
        <div class="img-container">
            <img class="img-fluid" src="{% static 'images/katrina.png' %}">
            <p class="carousel-caption m-0 slider-caption">বিমানবন্দরে নামতেই সেলফি বিড়ম্বনায় ক্যাটরিনা</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row d-flex justify-content-evenly mb-3 my-row"
             style="background: var(--card-primary-bg);border-radius: 0.5rem">
            <div class="col-8" style="padding:0.8rem">
                <p class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                <p>Posted : <span>9 min ago</span></p>
            </div>
            <div class="col-4 p-0">
                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
            </div>
        </div>

        <div class="row d-flex justify-content-evenly mb-3 my-row"
             style="background: var(--card-secondary-bg);border-radius: 0.5rem">
            <div class="col-8" style="padding:0.8rem">
                <p class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                <p>Posted : <span>9 min ago</span></p>
            </div>
            <div class="col-4 p-0">
                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
            </div>
        </div>

        <div class="row d-flex justify-content-evenly mb-3 my-row"
             style="background: var(--card-primary-bg);border-radius: 0.5rem">
            <div class="col-8" style="padding:0.8rem">
                <p class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                <p>Posted : <span>9 min ago</span></p>
            </div>
            <div class="col-4 p-0">
                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
            </div>
        </div>

        <div class="row d-flex justify-content-evenly mb-3 my-row"
             style="background: var(--card-secondary-bg);border-radius: 0.5rem">
            <div class="col-8" style="padding:0.8rem">
                <p class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</p>
                <p>Posted : <span>9 min ago</span></p>
            </div>
            <div class="col-4 p-0">
                <img src="{% static 'images/Rectangle 70.png' %}" style="width: 100%;height: 100%">
            </div>
        </div>
    </div>
</div>

