{% load static %}
<div class="row d-flex justify-content-between mt-5 background-highlights">
    <p class="headline text-center mt-2" style="color: var(--highlight-title)">হাইলাইটস</p>
    <div class="row d-flex justify-content-evenly mt-3 mb-4">
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-evenly mt-3 mb-4">
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="background: var(--card-primary-bg)">
                <img src="{% static 'images/tamim.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/news-details/" style="cursor: pointer;"><h5
                            class="card-headline truncate">মাদারীপুরে হা-ডু-ডু খেলা দেখতে হাজারো জনতার ভিড়</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>
