<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    {% load static %}
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid admin-background">
    {% include 'admin_nav.html' %}
    <div class="row d-flex justify-content-center" style="padding: 16rem 0">
        <div class="col-md-3 login-card">
            <form method="post" action="/">
                {% csrf_token %}
                <p class="text-center login-text">Login</p>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="usernameInput" placeholder="User name"
                           name="usernameInput">
                    <label for="usernameInput">User Name</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password"
                           name="passwordInput">
                    <button class="btn" style="position: absolute;right: 5px;bottom: 10px;" type="button"><i
                            style="color: var(--black);" id="togglePassword_1" class="bi-eye-slash"
                            onclick="passwordShow();"></i></button>
                    <label for="passwordInput">Password</label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" name="rememberCheck" id="rememberCheck">
                    <label class="form-check-label" for="rememberCheck">
                        Remember me
                    </label>
                </div>
                {#                <a href="/publish-news/">#}
                <button type="submit" class="btn news-primary-btn mt-3">Login</button>
                {#                </a>#}
            </form>
        </div>
    </div>
</div>
{% include 'root/js.html' %}
</body>
</html>