<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reporter Dashboard</title>
    {% load static %}
    {% include 'root/css.html' %}
</head>
<body>
<div class="container-fluid admin-background">
    {% include 'admin_nav.html' %}
    <div class="row d-flex justify-content-between">
        <div class="col-md-2" style="background: var(--white)">
            {% include 'sidebar/sidebar.html' %}
        </div>
        <div class="col-md-9">
            <p class="headline text-center mt-2">Publish a report</p>
            <div class="row d-flex justify-content-between">
                <div class="col-md-5">
                    <p class="sub-headline">বাংলা</p>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control admin-text-field" id="newsTitleBN" placeholder="শিরোনাম">
                        <label for="newsTitleBN">শিরোনাম</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control admin-text-field" placeholder="বিস্তারিত সংবাদ" id="detailsNewsBN"
                                  style="height: 100px"></textarea>
                        <label for="detailsNewsBN">বিস্তারিত সংবাদ</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control admin-text-field" id="floatingInputGroup1"
                                   placeholder="Username">
                            <label for="floatingInputGroup1">Username</label>
                        </div>
                        <button class="input-group-text news-primary-btn"
                                style="width: unset;padding: 0.375rem 0.75rem;border-radius: 0 0.375rem 0.375rem 0;">
                            Add
                        </button>
                    </div>
                </div>
                <div class="col-md-5">
                    <p class="sub-headline">English</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'root/js.html' %}
</body>
</html>