{% load static %}
<div class="row d-flex justify-content-between align-items-center" style="background: var(--white)">
    <div class="col-sm-5">
        <div class="footer-logo-container">
            <img src="{% static 'logo/footer_left.svg' %}">
            <div class="footer-logo-text-container">
                <div class="footer-logo-text-column-1">
                    <a href="/"><p class="footer-logo-text" id="footer_home_icon">হোম</p></a>
                    <a href="/today-news/"><p class="footer-logo-text" id="footer_headline_icon">আজকের শিরোনাম</p></a>
                    <a href="/category-news/sports/"><p class="footer-logo-text" id="footer_sports_icon">মাঠে ময়দানে</p>
                    </a>
                </div>
                <div class="footer-logo-text-column-2">
                    <a href="/category-news/country/"><p class="footer-logo-text" id="footer_country_icon">দেশগ্রাম</p>
                    </a>
                    <a href="/category-news/world/"><p class="footer-logo-text" id="footer_world_icon">পূর্ব-পশ্চিম</p>
                    </a>
                    <a href="/category-news/showbiz/"><p class="footer-logo-text" id="footer_showbiz_icon">শোবিজ</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <p class="text-center m-0" id="footer_editor_icon">সম্পাদকের নাম : আ ন ম ছিদ্দিক</p>
        <div class="social-media-icon text-center">
            <a href="https://www.facebook.com/profile.php?id=100086623745083&mibextid=ZbWKwL">
                <img src="{% static 'logo/fb_logo.svg' %}" class="img-fluid">
            </a>
            <a href="https://instagram.com/dainik71_ar_bd?igshid=NGExMmI2YTkyZg==">
                <img src="{% static 'logo/insta_logo.svg' %}" class="img-fluid">
            </a>
            <a href="https://youtube.com/@Dainik71_ar_BD">
                <img src="{% static 'logo/yt_logo.svg' %}" class="img-fluid">
            </a>
        </div>
        <p class="footer-slogan">আমরা দেশের স্বার্থে কথা বলি, আমাদের সঙ্গে থাকুন</p>
        <p class="footer-ownership-tag text-center m-0">© ২০২৩,৭১ এর দৈনিক বাংলাদেশ</p>
    </div>
</div>