{% load static %}
<div class="row d-flex justify-content-between align-items-center" style="background: var(--white)">
    <div class="col-sm-2" style="margin-left: 5rem">
        <img src="{% static 'logo/logo.svg' %}">
        <p class="login-date-font"> {{ date.weekday }}, {{ date.english_date }} {{ date.english_month }} {{ date.english_year }}, {{ date.date }} {{ date.month }} {{ date.year }} </p>
    </div>
    <div class="col-sm-5 p-0">
        <img src="{% static 'logo/hand.svg' %}" style="float: right">
    </div>
</div>
{#Navbar#}
<nav class="navbar navbar-expand-lg" style="background: var(--nav-background)">
    <div class="container-fluid" style="padding: 0 5rem">
        <a class="navbar-brand d-flex align-items-center nav-border-left" href="/"><img
                src="{% static 'logo/home.svg' %}"
                style="padding-bottom: 0.1rem;cursor:pointer;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-typography nav-border-left" href="/category-news/national/"
                       id="cat_national">জাতীয়</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-typography nav-border-left" href="/category-news/country/" id="cat_country">দেশগ্রাম</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-typography nav-border-left" href="/category-news/world/" id="cat_world">পূর্ব-পশ্চিম</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-typography nav-border-left" href="/category-news/showbiz/" id="cat_showbiz">শোবিজ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-typography nav-border-left" href="/category-news/sports/" id="cat_sports">মাঠে
                        ময়দানে</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-typography nav-border-left" href="/other-category-news/"
                       id="cat_other">অন্যান্য</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-typography nav-border-left" href="/today-news/" id="cat_today_headline">আজকের
                        শিরোনাম</a>
                </li>
                {#                <li class="nav-item dropdown">#}
                {#                    <a class="nav-link dropdown-toggle nav-typography nav-border-left" href="#" role="button"#}
                {#                       data-bs-toggle="dropdown"#}
                {#                       aria-expanded="false" id="cat_other">#}
                {#                        অন্যান্য#}
                {#                    </a>#}
                {#                    <ul class="dropdown-menu">#}
                {#                        <li><a class="dropdown-item nav-typography" href="#">শিল্প বাণিজ্য</a></li>#}
                {#                        <li>#}
                {#                            <hr class="dropdown-divider">#}
                {#                        </li>#}
                {#                        <li><a class="dropdown-item nav-typography" href="#">ক্যাম্পাস</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link nav-typography nav-border-left" href="#">ই-পেপার</a>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link nav-typography" href="#">সংস্করণ</a>#}
                {#                </li>#}
            </ul>
            <img class="responsive-class" src="{% static 'logo/calendar_month.svg' %}"
                 style="margin: 0 1rem" onclick="open_date_picker()">
            <input type="text" id="datepicker" class="responsive-class" value="" hidden>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       id="search_keywords">
                <button class="btn btn-outline-success" type="button" onclick="search_filter()">Search</button>
            </form>
            <label class="toggle responsive-class" onclick="toggleLanguage_client();"
                   style="margin: 0 1rem 0.5rem 1rem">
                <input class="toggle-input" type="checkbox" checked/>
                <span class="toggle-label" data-off="Bengali" data-on="English"></span>
                <span class="toggle-handle"></span>
            </label>
        </div>
    </div>
</nav>
{#Rolling Headline#}
<div class="news-container">
    <div class="title">
        শিরোনাম
    </div>
    <ul>
        {% for data in headline_list %}
            <li>
                <a href="/details-news/{{ data.post.id }}/{{ data.post.english_category.the_category }}/">
                    <p class="m-0 top_rolling_headline_bangla">{{ data.post.bangla_title }}</p>
                    <p class="m-0 top_rolling_headline_english" style="display: none">{{ data.post.english_title }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>