<div class="modal fade" id="roll_headline_modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="backdrop-modal-title">Add to Rolling Headlines?</p>
            </div>
            <div class="modal-body">
                <p class="backdrop-modal-body m-1">Once you add the headline to rolling headlines, it will be posted to
                    the
                    headlines.</p>
            </div>
            <div class="d-flex justify-content-end">
                <a id="add_to_headline_anchor_id" href="">
                    <button type="button" class="modal-primary-btn">Yes</button>
                </a>
                <button type="button" class="modal-secondary-btn" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
