<div class="modal fade" id="reporter_pass_modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="backdrop-modal-title">Change Password</p>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="change_pass" placeholder="password">
                    <label for="change_pass">password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="re_pass" placeholder="Re-type Password">
                    <label for="re_pass">Re-type Password</label>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="modal-primary-btn">Submit</button>
                <button type="button" class="modal-secondary-btn" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
