<div class="modal fade" id="moderator_suspend_modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="backdrop-modal-title">Are You sure you want to suspend the user?</p>
            </div>
            <div class="modal-body">
                <p class="backdrop-modal-body m-1" id="admin_m_suspend_msg"></p>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="modal-primary-btn">Yes</button>
                <button type="button" class="modal-secondary-btn" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
