<div class="modal fade" id="delete_report_modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="backdrop-modal-title">Are You sure you want to delete?</p>
            </div>
            <div class="modal-body">
                <p class="backdrop-modal-body m-1">Once you Delete the news, it will be removed from the system.</p>
            </div>
            <div class="d-flex justify-content-end">
                <a id="add_to_delete_anchor_id" href="">
                    <button type="button" class="modal-primary-btn">Yes</button>
                </a>
                <button type="button" class="modal-secondary-btn" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
